.gameBoard {
  display:grid;
  width: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 3rem;
}

.gameCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  width: 100px;
  height: 100px;
}